@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}



body {
    background-color: #F1F1F1;
    line-height: 1.6;
    color: #171717;
    font-family: 'Montserrat', sans-serif;
}

.hero {
    height: 100vh;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    color: #333;
    z-index: 10;
}
.logo {
    margin-top: 50px;
}
.navbar ul {
    display: flex;
    top: 43px;
}



.navbar a {
    padding: 2px 20px;
    margin:0px 70px;
    font-size: 18px;
}
.signin{
    background-color: #5DE2CC;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    
}
.navbar a:hover {
    border-bottom: #5DE2CC 3px solid;
   
}
.active{
    border-bottom: #5DE2CC 3px solid;
   
}



#sign-in {
    padding: 2px 40px;
    margin:0px 20px;
}

.content {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    height: 100%;
    padding: 0 20px;
    margin-left: 15px;
    margin-top: 50px;
}

.content h1 h2 {
    font-weight: bold;
}

.content h1 {
    font-size: 41px;
}
.content h2 {
    padding-left: 30px;
    line-height: 1.2;
    font-size: 27px;
    opacity: 0.8;
}
.content h1 span {
    background-color:#5DE2CC ;
}

.textpadding {
    padding-left: 45px;
    padding-bottom: 20px;
}


.myform { 
    flex-direction: column;
    background-color: white;
    display: flex;
    box-shadow: 0px 3px 6px #000000BA;
    border-radius: 20px;
    width: 723px;
    height:397px ;
    margin-left: 70px;
    align-items:center;
    justify-content: flex-start
}

.myform h3{
    margin-top: 1vw;
    font-size: 22px;
}


.formrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 6vh;    
}

.formrow .field{
    position: relative;
    height: 70px;
    width: 250px;
    margin: 30px;    
}

.formrow .field :focus{
    outline: none;
}

.formrow .field input{
    height: 3vw;
    font-size: 24px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #171717;
    background-color: #fff;
    text-decoration: none;
    opacity: 0.7;
    padding-left: 1vh;
    /* color: #171717; */
}


.apply-button{
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    /* font-weight: 500; */
    position: relative;
    background:#5DE2CC;
    color: #000000;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
    align-items: right;
    width: 20vh;
    height: 2vw;
    border-radius: 13px;
}
input[type=button] {
    background-color: ;
}


.slidecontainer {
    width: 60%;
  }
  
.slider {
-webkit-appearance: none;
width: 100%;
height: 10px;
border-radius: 5px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 18px;
height: 18px;
border: 0;
/* background: url('chat.png'); */
background: #171717;
border-radius: 50%;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 18px;
height: 18px;
border: 0;
/* background: url('circle.png') */
background: #171717;
border-radius: 50%;
cursor: pointer;
}


























/* Pop in Pop up Sign up Sign up */
.pop-signin{
    position: fixed;
    background-color: #F1F1F1;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50vh;
    /* border-radius: 39px ; */
    border-radius: 30px 0px 0px 30px ;
    transform: scaleX(0);
    transform-origin: right;
    transition: all ease 0.5s;
    z-index: 11;
    box-shadow: 1px 3px 6px #000000;
}
.pop-signup{
    z-index: 11;
    position: fixed;
    background-color: #F1F1F1;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50vh;
    /* border-radius: 39px; */
    border-radius: 30px 0px 0px 30px;
    box-shadow: 1px 3px 6px #000000;
    transform: scaleX(0);
    transform-origin: right;
    transition: all ease 0.5s;
}

.pop-signin h1{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 54px;
    padding-top: 1vw;
    left: 2vh;
}

.pop-signin h2{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: black;
    left: 4vh;
    padding-top: 1vw ;
}

.pop-signin h3{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-align: right;
    padding-right: 2vh;
}

.pop-signin a{
    font-size: 20px;
    color:#5DE2CC;
}

.pop-signin form{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column; 
    width: auto;
    /* width: 50vh; */
    padding:30px 5px 0px 20px;
    margin:40px 0; 
}

.keep{
    position: relative;
    left:2vh;
}

#keep-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    
}

.pop-signin.show{
    transform: scaleX(1);
}

.pop-signin.close{
    transform: scaleX(0);
}

.close-signin{
    position: relative;
    left: 1vh;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.close-signin .fa-times{
    background-color: #F1F1F1;
    color: black;
}

.pop-signin i{
    color: white;
    background-color: black;
    
}
.pop-signin i:hover{
    color:#5DE2CC;
}

#email-title, #password-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

#email-signin ,#password-signin{
    height: 3vw;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #5DE2CC;
    background-color: #F1F1F1;
    font-size: 20px;
    text-decoration: none;
    padding-left: 2vh;
}


#login{
    font-family: 'Monument Extended', sans-serif;
    font-size: 20px;
    color: black;
    background-color:#5DE2CC;
    border-radius: 10px;
    height: 3vw;
    width: 40vh;
    margin-left: 5vh;
    margin-top: 2vw;
}




.pop-signup h1{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 54px;
    padding-top: 1vw;
    left: 2vh;
}

.pop-signup h2{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: black;
    left: 4vh;
    padding-top: 1vw ;
}

.pop-signup h3{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-align: right;
    padding-right: 2vh;
}

.pop-signup a{
    font-size: 20px;
    color:#5DE2CC;
}


.pop-signup form{
    font-family: 'Montserrat', sans-serif;
    width: auto;
    padding:20px 5px 0px 20px;
    margin:30px 0; 
}

.grid{
    display: grid;
    grid-template-columns: 24vh 24vh;
    grid-gap: 15px;
}

/* .grid>*{
    flex: 1 1 50px;
} */

#name-signup ,#surname-signup ,#email-signup ,#password-signup{
    height: 2vw;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #5DE2CC;
    background-color: #F1F1F1;
    font-size: 20px;
    text-decoration: none;
    padding-left: 2vh;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

#email-signup, #password-signup{
    width: 370px;
}


.pop-signup #name, #surname, #email, #password{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    
}


#signup{
    font-family: 'Monument Extended', sans-serif;
    font-size: 20px;
    color: black;
    background-color:#5DE2CC;
    border-radius: 10px;
    height: 3vw;
    width: 40vh;
    margin-left: 4vh;
    margin-bottom: 1vw;
}


.pop-signup.show{
    transform: scaleX(1);
}

.pop-signup.close{
    transform: scaleX(0);
}


.pop-signup.show{
    transform: scaleX(1);
}

.pop-signup.close{
    transform: scaleX(0);
}



.close-signup{
    position: relative;
    /* padding-top: 1vw; */
    left: 1vh;
    /* margin-bottom: -2vw; */
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.close-signup .fa-times{
    background-color: #F1F1F1;
    color: black;
}

.pop-signup i{
    color: white;
    background-color: black;
    
}
.pop-signup i:hover{
    color:#5DE2CC;
}

input[type=text]:focus {
    background: none;
  }

.sign-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1vw;
}











/* Pop in Pop up Sign up Sign up */
























