html, body {
    max-width: 100%;
    /* overflow-x: hidden; */
    /* overflow: hidden; */
}

html{
    position: relative;
    
}

body {
    background-color: #F1F1F1;
    width: 100vh;
    
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

* {
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    
}

.hero img {
    display: inline;
}
.navbar ul {
    list-style: none;
}
.banner ul {
    list-style: none;
    
}

a {
    text-decoration: none;
    color: #333;
}

body .hero {
    background-color: #F1F1F1;
    line-height: 1.6;
    color: #171717;
    font-family: 'Montserrat', sans-serif;
}

.hero {
    position: relative;
    display: flex;
}

.hero nav{
    margin-top: 1vw;
    
}



.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    color: #333;
    z-index: 10;
    border-top: 10px solid #000000;
}

.logo2 a{
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

.navbar ul {
    display: flex;
    top: 43px;
    margin:-10px -20px;
}
.navbar ul a {
    padding: 2px 20px;
    margin:0px 5px;

}

#chat {
    margin-top: 7px;
}

.content{
    position: fixed;
    align-items: center;
    width: auto;
    height: 98vh;
    margin-top: 2vw;
}

.flex-item{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    left: 2%;
    top: 10%;
    width: 95%;
    border-radius: 20px;
    height: 85%;
    box-shadow: 0px 3px 6px #000000B8;
    border-radius: 35px;
    opacity: 1;
}

.left{
    position: relative;
    flex-basis: 25%;
    left: 2%;
    bottom: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right{
    flex-basis: 75%;
    height: auto; 
    margin-right: 2vh;
    margin-bottom: 0.1vw;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-right: 2vh;
}




.flex-item .left .title{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    left: 3%;
    color: #363131;
margin-bottom: -4vw;

}


.flex-item .left .field {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #363131;
    /* margin:0 1vw; */
    margin-top: 5vw;
    
}

.flex-item .left .field input {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #48bda9;
    background-color: #fff;
    text-decoration: none;
    color:#363131;
    outline: none;
    margin-top: 1vw;
    margin-bottom: -4vw;
    padding-top: 2px;
    
}


#location{
    padding-left: 10px;
}





.flex-item .left .field1 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #363131;
    height: 3vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
}


.flex-item .left .field1 .select{
    position: absolute;
    height: 60px;
    overflow: auto; 
    border-bottom: none;
    margin-top: 0.5vw;

}

.flex-item .left .field1 .select select{
    position: absolute;
    width: 275px;
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    border-bottom: none;
}

.flex-item .left .field1 .select select input{
    font-size: 22px;
    box-sizing: border-box;
    border: none;
    background-color: #fff;
    text-decoration: none;
    border-bottom: none;
    margin-bottom: 2vw;
}

.left button{
    font-weight: bold;
    width: 20vh;
    height: 3vw;
    margin-left: 8vh;
    border-radius: 2vh;
    font-size: 20px;
    margin-top: 2vw;
    background-color: #5DE2CC;
    color: #FFFFFF;
    outline: none;
}

.fa-map-marker-alt{
    color: #5DE2CC;
}


#age{
    position: relative;
    top: -25px;
}



.flex-item .left .field .range{
    position: absolute;
    
    
  }
  
.sliderValue span{
position: absolute;
height: 45px;
width: 45px;
font-weight: 500;
top: -20px;
line-height: 55px;
z-index: 2;
color: #363131;
/* margin-bottom: 5px; */
}

.sliderValue span:after{
position: absolute;
content: '';
height: 100%;
width: 100%;
z-index: -1;
left: 0;
}
.range .r_field{
display: flex;
align-items: center;
justify-content: center;
height: 100%;
position: relative;
}
.range .r_field .value{
position: absolute;
font-size: 18px;
font-weight: 600;
}
.range .r_field .value.left{
left: -22px;
color: #363131;
}
.range .r_field .value.right{
right: -43px;
color: #363131;
}
.range input{
-webkit-appearance: none;
width: 255px;
height: 5px;
border-radius: 5px;
outline: none; 
border: none;
background-color: #5DE2CC;
}
.range input::-webkit-slider-thumb{
-webkit-appearance: none;
width: 18px;
height: 18px;
border-radius: 50%;
background: #f1f1f1;
border: 1px solid #5DE2CC;
cursor: pointer;
position: absolute;
z-index: 3;
padding-bottom: 1vw;
}
.range input::-moz-range-thumb{
-webkit-appearance: none;
width: 18px;
height: 18px;
border-radius: 50%;
background: #f1f1f1;
border: 1px solid #5DE2CC;
cursor: pointer;
z-index: 3;
}
.range input::-moz-range-progress{
background: #f1f1f1; //this progress background is only shown on Firefox
}





.card{
    position: relative;
    max-width: 39vh;
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-top: 3vw;
    margin-left: 8vh ;
    padding-left: 5vh ;
    width: 35vh;
    border-radius: 20px;
    height: 15vw;
    min-width: 37vh;
    min-height: fit-content;
    box-shadow: 0px 3px 6px #000000B8;
    border-radius: 35px;
    opacity: 1;
   }

.card ul{
	width:95%;
	overflow:auto;
	height:53%;
		
}

.card li{
    margin-top: 1vw;
    overflow:auto;
    
    
}

.break{
    width: 100%;
    height: 0;
}



.right img{
    width: 11vh;
    height: 5vw;
    border-radius: 50%;
    margin-left: 8vh;
    margin-top: -2vw;
    border: 2px solid black;
}

.right button{
position: relative;
    font-weight: bold;
    width: 17vh;
    height: 1.5vw;
    padding-bottom: 1.5vw;
    margin-bottom: -1vw;
    
    border-radius: 2vh;
    font-size: 15px;
    
    background-color: #5DE2CC;
    color: #FFFFFF;
    outline: none;
    top: 12%;
    left: 17%

}

.pop-notifications{
    position: fixed;
    background-color:white;
    right:1vh;
    top: 6vw;
    height: 50vh;
    width: 60vh;
    /* border-radius: 39px ; */
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: top;
    transition: all ease 0.5s;
    z-index: 11;
    box-shadow: 1px 3px 6px #000000;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;*/
}


.pop-notifications h1 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 30px;
}

.pop-notifications.show{
    transform: scaleX(1);
}

/* .pop-notifications.close{
    transform: scaleX(0);
} */

.notif {
    display:flex;
    align-content:space-around;
    text-align: center;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
    width: 95%;
    
    /* background-color: red; */
}

.notificon{
    
    width: 50px;
    height: 50px;
    margin-top: 5px;
   
}

.notifcontent {
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    width: 350px;
    

}

button {
    padding-top: 5px;
    border: none;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #8B8B8B;
    outline:none;
}

button:focus {
    border: none;
}

.notif form {
    display: flex;
    justify-content: center;

}

.tick {
    
    margin-left: 30px;
    
}

