* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
img {
    display: inline;
}
.navbar ul {
    list-style: none;
}
.banner ul {
    list-style: none;
    
}

a {
    text-decoration: none;
    color: #333;
}

body {
    background-color: #F1F1F1;
    line-height: 1.6;
    color: #171717;
    font-family: 'Montserrat', sans-serif;
}

.hero {
    height: 100vh;
    position: relative;
    display: flex;
}

.hero nav{
    margin-top: 1vw;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    color: #333;
    z-index: 10;
    border-top: 10px solid #000000;
}

.logo2 a{
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    top: 43px;
    margin:-10px -20px;
}
.navbar ul a {
    padding: 2px 20px;
    margin:20px 5px;

}

#chat {
    margin-top: 7px;
}
.content {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    height: 100%;
    padding: 0 20px;
    margin-left: 15px;
    margin-top: 50px;
}

.contain1 {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1070px;
    margin-top: 100px;
  
}

.row {
    margin-top: -30px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.banner {
    margin: 10px;
    width: 100%;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 3px 6px #000000B8;
    border-radius: 35px;
}
.card {
    margin: 10px;
    width: 300px;
    height: 300px;
    text-align: left;
    padding-left: 19px;
    background-color: white;
    box-shadow: 0px 3px 6px #000000B8;
    border-radius: 35px;
    justify-content: center;
}

.card h1 {
    font-weight: normal;
    font-size: 30px;
    display: inline;
    padding-left: 8vh;
    
}
.card span {
    color: #5DE2CC;
}
.card li {
    font-size: 23px;
    margin-top: 20px;
    line-height: 1;
    
}
.card ul {
    margin-top: -5px;
    padding-left: 30px;
    margin-right: 5px;
    height: 240px;
    overflow:auto;
}

#card-scrollbar::-webkit-scrollbar
{
    width: 12px;
    height: 20px;
    background-color:transparent;
    margin-top: 20px;
}
#card-scrollbar::-webkit-scrollbar-track
{
    width: 7px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    /* box-shadow: 0px 3px 6px #000000B8; */
    border-radius: 20px;
    /* border-bottom-right-radius: 50px 200px; */
	background-color: transparent;
}



#card-scrollbar::-webkit-scrollbar-thumb
{
    width: 10px;
    border-radius: 10px;
    /* border-bottom-right-radius: 70px 150px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    /* box-shadow: 0px 3px 6px#F1F1F1; */
    background-color:transparent;
    
}

#work {
    font-size: 25px;
}
li small {
    opacity: 0.68;
    font-size: 17px;
    
}

.card img {
    /* padding-left: 80px; */
    position: relative;
    left: 5vh;
    top: 1vw;
}
#card2 {
    padding-left: 12px;

}
#card3 {
    padding-left: 18px;

}
.banner h1 {
    font-size: 40px;
    display: inline;
    
}
#yan {
    width: 170px;
    height: 170px;
}

.flexcontent {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
}
#textbutton {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    background-color: #5DE2CC;
    color: white;
    margin-bottom: 60px;
    padding: 7px 15px;


}

.columnn {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

.columnn a {
    margin-bottom: 100px;
}
.flexcontent ul {
    padding-bottom:35px;
}



.profile {
    margin-left: 20px;
}
.checkbutton {
    position: absolute;
    margin-bottom: 100px;
    margin-left: 800px;
}


.profile-pic-div{
    height: 160px;
    width: 160px;
    position: relative;
    top: 60%;
    left: 60%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
    margin-right: 10vh;
    margin-top: 7vw;
}

#photo{
    height: 160px;
    width: 160px;
}

#file{
    display: none;
}
#submit{
    display: none;
}

#uploadBtn{
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 2.2vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: #5DE2CC;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

#submit{
    height: 35px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: #5DE2CC;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

.links{
    display: flex;
    position: relative;
    top: 5vw;
    left: 20vh;
}

.links img{
    width: 45px;
    height: 45px;
    margin-right: 1vh;
}


/* .notifications{
    background-color: #5DE2CC;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    
} */

.pop-notifications{
    position: fixed;
    background-color:white;
    right:1vh;
    top: 6vw;
    height: 50vh;
    width: 60vh;
    /* border-radius: 39px ; */
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: top;
    transition: all ease 0.5s;
    z-index: 11;
    box-shadow: 1px 3px 6px #000000;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;*/
}


.pop-notifications h1 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 30px;
}

.pop-notifications.show{
    transform: scaleX(1);
}

/* .pop-notifications.close{
    transform: scaleX(0);
} */

.notif {
    display:flex;
    align-content:space-around;
    text-align: center;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
    width: 95%;
    
    /* background-color: red; */
}

.notificon{
    
    width: 50px;
    height: 50px;
    margin-top: 5px;
   
}

.notifcontent {
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    width: 350px;
    

}

button {
    padding-top: 5px;
    border: none;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #8B8B8B;
    outline:none;
}

button:focus {
    border: none;
}

.notif form {
    display: flex;
    justify-content: center;

}

.tick {
    
    margin-left: 30px;
    
}